*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Roboto",sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    text-decoration: none;
}
.svg{
    display: none;
}
.container{
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* крестик */
.header_burger{
    display: block;
    position: absolute;
    width: 3rem;
    height: 2rem;
    z-index: 5;
    margin-left: 3rem;
    margin-top: 3.5rem;
}
.header_burger span{
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.2rem;
    top: 0.9rem;
    transition: all 0.3s ease 0s;
}
.header_burger::before,
.header_burger::after{
     content: "";
     background-color: black;
     position: absolute;
     width: 100%;
     height: 0.2rem;
     left: 0;
     transition: all 0.3s ease 0s;
}
.header_burger::after{
     width: 50%;
}
.header_burger::before{
    top: 0;
}
.header_burger::after{
    bottom: 0;
}
.header_burger.active {
    position: fixed;
}
.header_burger.active span{
    transform: scale(0);
}
.header_burger.active::before{
    transform: rotate(45deg);
    top: 0.9rem;
    background-color: white;
}
.header_burger.active::after{
    transform: rotate(-45deg);
    bottom: 0.9rem;
    width: 100%;
    background-color: white;
}
.header_fon_black{
    position: fixed;
}
.header_fon_black_active{
    width: 100%;
    height: 100vh;
    background-color: #201f1e;
    z-index: 1;
}

.translate{
    transform: translateY(-100%)
}
.menu_inner{
    display: flex;
    justify-content: space-around;
}

.menu_banner{
    padding-top: 4rem;
    width: 75%;
    display: flex;
    justify-content: center;
}
.banner_deas{
    width: 16rem;
}
.menu_telephone{
    display: flex;
    padding-top: 5rem;
    justify-content: space-around;
    font-family: sans-serif;
    width: 100%;
}
.menu_telephone a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: "roboto",sans-serif;
}
.menu_svg{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu_svg a {
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 0.7rem;
}

.menu_svg svg {
    width: 100%;
    height: 100%;
    color: white;
}
.menu_svg svg:hover{
    color: #ffd51a;
}

/* Второй  кусок фона черного */
.header_block_row{
    display: flex;
    justify-content: space-around;
}
.header_navigation,.header_servisec,.header_contacts{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.nav_content,.nav_servisec{
    display: flex;
    flex-direction: column;
}
.nav_content a{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2.5rem;
}
.header_servisec a ,strong{
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.nav_content a:hover,.header_servisec a:hover{
    color: #ffd51a;
}
.header_contacts p{
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
}

.menu_nizhnee{
    background-color: #c7b9b9;
    width: 115rem;
    margin: 0 auto;
    height: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 2rem 0.2rem #000000;
    margin-top: 7rem;
}

.menu_nizhnee_text{
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
}
.translate_active{
    transform: translateY(0)
}
@media screen and (max-width: 1156px){
    .header_fon_black_active {
        overflow: auto;
        overflow-x: hidden;
        height: 100%;
    }
    .menu_inner {
        display: block;
    }
    .menu_banner {
        padding-top: 3rem;
        margin-left: 10%;
        display: block;
    }
    .menu_telephone {
        padding-top: 2.5rem;
        display: block;
        margin-left: 10%;
    }
    .menu_telephone_btn{
        margin-bottom: 1rem;
    }
    .menu_svg {
        margin-top: 2.5rem;
        margin-left: 10%;
        display: block;
    }
    .header_block_row {
        display: flex;
        position: relative;
    }
    .header_contacts{
        position: absolute;
        margin-top: -20rem;
        margin-left: 28%;
    }
    .menu_nizhnee_text {
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 672px){
    .menu_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu_banner {
        margin-left: 0;
        display: flex;
    }
    .menu_telephone {   
        display: flex;
        margin-left: 0;
    }
    .menu_svg {
        margin-left: 0;
        display: flex;
    }
    .header_block_row {
        display: flex;
        flex-direction: column;
    }
    .header_navigation, .header_servisec, .header_contacts {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        text-align: center;
    }
    .header_contacts {
        position: relative;
        margin: 5rem 0 3rem 0;
    }
}
@media screen and (max-width: 424px){
    .menu_telephone {
        display: flex;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .menu_telephone a {
        font-size: 2.5rem;
    }
    .header_burger {
        margin-left: 2rem;
    }
    .banner_juvensoft{
        width: 20rem;
    }
}
#modal_form{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 120rem;
    overflow: auto;
}
#filter{
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: none;
}
.modal_dialog{
    width: 40rem;
    border: solid 0.1rem white;
    margin: 0 auto; 
    background-color: white;
    margin-top: 1rem;
}
.modal_content .modal_body {
    padding: 4rem 3rem 3rem;
}
.modal_body{
    position: relative;
}
.modal_content .close {
    position: absolute;
    right: 0.5rem;
    padding: 0.5rem;
    top: 0;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    font-size: 3rem;
    color: #78797a;
    outline: none;
}
.modal_content .close:hover{
    color: red;
}
.h3{
    font-size: 2.1rem;
    font-weight: 600;
    border-bottom: solid 0.1rem #eee;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: #121212;
    font-family: Montserrat,sans-serif;
}
.form p{
    font-size: 1.5rem;
    margin: 1.5rem 0 2rem 0;
}
label{
    color: #121212;
    font-size: 1.4rem;
}
label span{
    color:red
}
input[type=text], input[type=phone], input[type=password], select, textarea{
    height: 4rem;
    border: 0.1rem solid #c7c7c7;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    outline: none;
    padding-left: 1rem;
}
textarea{
    height: 8rem;
    padding-top: 1rem;
}
.checkbox_wrapper{
    display: flex;
}
.label_text{
    font-size: 1.2rem;
    opacity: .8;
    padding-left: 1rem;
}
.label_text a{
    color: red;
    opacity: .9;
}
.label_text a:hover{
    border-bottom: solid 0.1rem red;
}
.mybtn{
    text-align: center;
    padding: 16px;
    letter-spacing: 2px;
    min-width: 80px;
    font-size: 1.5rem;
    color: #fc342a;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    z-index: 2;
    border-radius: 0;
    border: 1px solid #fc342a;
    line-height: 1.2;
    text-shadow: none;
    transition: .3s;
    width: 100%;
    margin-top: 2rem;
    outline: none;
}
.mybtn:hover{
    color: white;
    background-color: red;
    transition: 1s;
}

.face_header_active{
    display: none;
}
.face_header_wrapper{
    display: flex;
}

.face_header_screen{
    background-color: #eeeef1 !important;
    width: 100%;
    height: 65.9rem;
    z-index: 2;
}
.face_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57rem;
    margin: 0 auto;
    margin-top: 2.3rem;
    margin-left: 8rem;
}
.face_header_img{
    width: 16rem;
}
.face_header_link{
    text-decoration: none;
    color: #201f1e;
    font-size: 1.8rem;
}
h1{
    font-size: 5.5rem;
    margin-top: 6rem;
    line-height: 6rem;
    margin-left: 2rem;
    color: #201f1e;
}
.h1{
    width: 52rem;
}
.online_text{
    height: 12rem;
}
.online_text p {
    font-size: 2.5rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-left: 2rem;
    overflow: hidden;
    color: #201f1e;
    font-weight: 300;
  }
  .online_text_btn{
      margin-top: 4rem;
  }
  .online_text_juven{
      font-weight: 600;
  }
  .online_text p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .online_text p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .online_text p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

  .sumbit_form {
    font-size: 1.7rem;
    color: black;
    height: 6rem;
    width: 16rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    background-color: #ffea00;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-top: 2rem;
    outline: none;
    margin-bottom: 3rem;
    margin: 2rem 0 3rem 2rem;
}
.face_header_sumbit{
    margin-top: 3rem;
}
.online_text_opacity{
    font-size: 1.7rem;
    opacity: .4;
    margin-left: 2rem;
    margin-top: 4rem;
    z-index: -1;
    margin-bottom: 3rem;
} 
.online_text p{
    font-size: 2.1rem;
    margin-left: 1rem;
}
.online_text_btn {
    margin-top: 3rem;
}
.face_header_sumbit {
    margin-top: 3rem;
}
.face_header_screen {
    height: 100%;
}


.face_header_screen_two{
    max-width: 70rem;
    height: 65rem;
    margin: 0;
}
.slideshow-container {
    position: relative;
    margin: auto;
  }
  .slider{
    width: 65rem;
  }
  
  .mySlides {
      display: none;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .slider_text{
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin-top: -62rem;
  }
  .slider_tel{
    font-size: 2rem;
    color: white;
    letter-spacing: 0.1rem;
    margin-right: 3rem;
  }
.slider_form a {
    text-decoration: none;
    outline: none;
    font-size: 2rem;

    padding: 1.5rem 3rem;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    letter-spacing: 0.1rem;
    margin-right: 3rem;
  }
  .slider_form a:before,
  .slider_form a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .slider_form a:before {
    bottom: 0;
    left: 0;
    border-left: 0.2rem solid white;
    border-top: 0.2rem solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .slider_form a:after {
    top: 0;
    right: 0;
    border-right: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  }
  .slider_form a:hover:before,
  .slider_form a:hover:after{
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .slider_form a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
  .slider_form a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
  .slider_form a:hover {background: rgba(255,255,255,.2);
}
@media screen and (max-width: 1304px){
    .face_header_inner {
         width: auto;         /* 57rem */
    }
    .face_header_img {
        width: 10rem;       /* 16rem */
        margin-top: 1rem;
    }
    .h1 {
        width: auto;  /* 52rem */
    }
}
@media screen and (max-width: 1087px){
    .face_header_screen_two {
        display: none;
    }
    .face_header_inner {
        width: 57rem;         
   }
   .face_header_img {
       width: 16rem;       
       margin-top: 0rem;
   }
    .h1{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .face_header_screen {
        height: 70.9rem;
    }
    .face_header_inner {
        width: 0;
        margin-left: 10rem;
    }
    .face_header_portfolio,.face_header_servis,.face_header_kontakty{
        display: none;
    }
    .menu_banner {
        width: 100%;
    }
}
@media screen and (max-width: 460px){
    h1 {
        font-size: 4rem;
        margin-top: 4rem;
        line-height: 5rem;
        margin-left: 1rem;
    }
}    
@media screen and (max-width: 365px){
    .face_header_sumbit {
        margin-top: 7rem;
    }
}
.work{
    width: 100%;
    height: auto;
}
.work_text{
    color: #201f1e;
    font-size: 2.8rem;
    font-weight: 500;
    padding: 7rem 2rem 0;
}

.work_column_inner{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 5rem;
}
.block_column_inner{
    display: flex;
    justify-content: space-between;
}
.block_column_inner a,.col_btn a{
    color: #201f1e;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: solid 0.1rem black;
    padding: 0.9rem 2.5rem;
}
.block_column_inner a:hover{
    background-color: #201f1e;
    color: white;
    transition: 0.5s;
}
.col_btn a{
    background-color: #fd0;
    border-color: #fd0;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.col_btn a:hover{
    border: solid 0.1rem black;
    background-color: white;
    color: black;
}
.col_btn{
    display: flex;
    justify-content: flex-end;
    margin-top: -0.9rem;
}
.block_column_inner,.col_btn{
    width: 100%;
}
.work_img{
    display: flex;
    width: 100%;
    margin-top: 3.8rem;
}
.work_svg{
    width: 100%;
    cursor: pointer;
}
.work_text_center{
    position: relative;
    margin-top: -10rem;
    margin-left: 2rem;
    cursor: pointer;
}
.work_text_center p{
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem;
    background-color: #201f1e;
    -webkit-transform: skew(-10deg);
    width: 12.4rem;
    color: white;
    margin-bottom: 1rem;
}
.title:hover{
    background-color: #fd0;
    color: black;
    transition: 0.5s;
}
.category{
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    background: #fd0;
}
.category:hover{
    background-color: #201f1e;
    color: white;
    transition: 0.5s;
}
.work_image_wrap:hover{
   background-color: rgba(0, 0, 0, .6);
}
@media screen and (max-width: 1216px){
    .block_column_inner a, .col_btn a {
        font-size: 1.5rem;
        padding: 0.9rem 1rem;
    }
}
@media screen and (max-width: 992px){
    .work_column_inner {
        display: none;
    }    
}
@media screen and (max-width: 769px){
    .work_text {
        margin-bottom: 3.8rem;
    }
    .work_img {
        display: block;
        margin-top: 0rem;
    }
    .work_text_center {
        position: absolute;
        margin-top: -9.5rem;
    }
    .work_svg{
        margin-top: -0.2rem;
    }
    .work_img_2{
        margin-top: -0.1rem;
    }
}

.yslygi{
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

.yslygi_bl_btn{
    display: flex;
    justify-content: space-around;
    padding-top: 7rem;
}
h2{
    font-size: 2.5rem;
    opacity: .9;
    font-weight: 500;
}
.h2_block{
    margin-bottom: 4rem;
}
.block_width{
    width: 100%;
    margin-left: 2rem;
}
.yslygi_bl_btn span{
    font-size: 1.6rem;
    color: #201f1e;
}
.yslygi_img{
    display: flex;
    padding: 2rem 0 0 0;
}
.yslygi_img span{
    font-weight: 300;
}
.ysl_svg{
    padding-right: 1rem;
}
.ysl_span{
    line-height: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 500!important;
}

.yslygi_text_left{
    cursor: pointer;
    position: relative;
}
.yslygi_text_left a{
    background-color: #fd0;
    border-color: #fd0;
    color: #201f1e;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.9rem 2.5rem;
}
.yslygi_text_left a:hover{
    border: solid 1px black;
    background-color: white;
    transition: 0.5s;
}
.yslygi_block_2{
    margin-bottom: 7rem;
}
@media screen and (max-width: 852px){
    .yslygi_bl_btn{
        display: block;
        padding-top: 0rem;
    }
    .block_width{
        width: 32rem;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .h2_block {
        padding-top: 5rem;
    }
    .yslygi {
        margin-top: 0rem;
    }
}

.onas{
    width: 100%;
    background-color: #eeeff1;
    height: auto;
}
.onas_block{
    display: flex;
    padding: 0 2rem;
    padding-bottom: 10rem;
}
h3{
    padding-top: 9rem;
}
h3,h4{
    color: #201f1e;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2rem 0 3rem 0;
}
.onas_block p{
    font-size: 1.6rem;
    font-weight: 300;
    opacity: .8;
    line-height: 3rem;
}
.onas_block_1 p{
    width: 60rem;
}
.onas_block_2{
    margin-top: 10rem;
    margin-left: 2rem;
}
@media screen and (max-width: 1117px){
    .onas_block{
        display: block;
    }
    .onas_block_1,.onas_block_2{
        width: 50rem;
        margin: 0 auto;
        margin-top: 3rem;
    }
}
@media screen and (max-width: 720px){
    .onas_block_1, .onas_block_2 {
        width: 100%;
    }
    .onas_block_1 p {
        width: 100%;
    }
}




h5{
    color: #201f1e;
    font-size: 2.7rem;
    font-weight: 500;
    margin: 7rem 0 2rem 2rem;
}
.wrap_text_btn p{
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-bottom: 3rem;
}
.wrap_text_block_1{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
.wrap_padding{
    padding: 1.5rem;
    width: 100%;
}
.wrap_padding p{
    font-size: 1.6rem;
    font-weight: 500;
    opacity: .8;
    line-height: 2.7rem;
    margin-top: 1rem;
}
.wrap_block_flex{
    display: flex;
    align-items: center;
    height: 7rem;
}
h6{
    color: #201f1e;
    font-size: 2.3rem;
    font-weight: 500;  
    padding-left: 2rem;
}
.wrap_text_block_2{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
@media screen and (max-width: 967px){
    .wrap_text_block_1 {
        display: block;
    }
    .wrap_text_block_2 {
        margin-top: -4rem;
    }
}


.feedback_video{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7rem;
}
.feedback{
    text-align: center;
    margin-top: 7rem;
}
.feedback span{
    font-size: 2.7rem;
}
.feedback p{
    font-size: 1.7rem;
    line-height: 2.7rem;
    opacity: .8;
    margin: 3rem 0 7rem 0;
}
.feedback_form{
    width: 100%;
    height: 8.3rem;
    background-color: rgba(0, 0, 0, .7); 
    margin: 3rem 0;
}
.feedback_form_btn{
    text-align: center;
    padding-top: 3rem;
}
@media screen and (max-width: 1107px){
    .feedback_video {
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .feedback_video_btn{
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 412px){
    .feedback_block_video{
        width: 100%;
    }
    .feedback_video_btn{
        width: 100%;
    }
}


footer{
    width: 100%;
    height: auto;
    background-color: #201f1e;
    position: relative;
}
.footer_block{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}
.karta{
    margin-bottom: 3rem;
}
.footer_block p{
    color: white;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}
.footer_ul,.footer_contakt span{
    color: white;
    list-style: none;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    font-weight: 300;
    position: relative;
}
.footer_menu_svg{
    margin-top: 3rem;
    display: flex;
    justify-content: end;
    z-index: 99999;
    position: relative;
} 
.footer_menu_svg svg {
    width: 100%;
    height: 100%;
    color: white;
}
.footer_menu_svg a {
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 1.7rem;
}
#button {
    position: fixed;
    bottom: 1rem;
    right: 5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2%;
    border: solid 0.2rem #ccc;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.1);
}
#button:after {
    content: '';
    width: 1rem;
    height: 1rem;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 0.4rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
 }
#button.show {
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 1027px){
    .footer_block {
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
        flex-direction: column;
        text-align: center;
    } 
}
.politika{
    padding-top: 5rem;
    padding-left: 5rem;
}
.politika span{
    margin-left: 1rem;
    font-size: 1.6rem;
    opacity: .8;
}
.politika a{
    color: black;
    opacity: .6;
}
h5 {
    font-size: 6.5rem;
    margin-top: 9rem;
    text-align: left;
    line-height: .95;
    margin-left: 5rem;
}
h6{
    color: #121212;
    padding-top: 7rem;
    margin-left: 5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.politika_text{
    margin-left: 5rem;
    margin-right: 5rem;
}
.politika_text_btn{
    margin-left: 2rem;
}
.politika_text p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #201f1e;
    margin-bottom: 1rem;
}
.prova{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.prova p{
    font-size: 1.4rem;
    font-weight: 600;
}
@media screen and (max-width: 778px){
    .politika {
        padding-top: 5rem;
        padding-left: 0rem;
    }
    .politika span{
        font-size: 1.5rem;
    }
    h5 {
        font-size: 3.5rem;
        margin-left: 1rem;
    }
    h6 {
        margin-left: 1rem;
    }
    .politika_text {
        margin-left: 1rem;
        margin-right: 0rem;
    }
    .prova {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 479px){
    h5 {
        font-size: 2.7rem;
    }
}
